<h1><%= @movie.title %></h1>
<p><%= @movie.description %></p>
<p>Release Date: <%= @movie.release_date %></p>
<p>Rating: <%= @movie.rating %></p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back to Movies', movies_path %>
